<div class="wrapper">
  <!-- <div>
  </div> -->

  <app-mushaf-page [activeDrawIcon]="activeDrawIcon" (rectangleHelperEvent)="assignRectangleHelper($event)"
    (currentRectangleEvent)="assignCurrentRectangle($event)">
  </app-mushaf-page>

  <div style="font-size: smaller;">
    <div class="draw-icons-container">
      <h4>Draw icon options:</h4>
      <div class="icons">
        <div class="icon-box" *ngFor="let drawIcon of drawIcons" (click)="changeDrawIcon(drawIcon)"
          [ngClass]="{ 'active-icon': drawIcon.active }">
          <img [src]="drawIcon.path" [alt]="drawIcon.name">
        </div>
      </div>
    </div>

    <div>
      <ng-container *ngIf="rectangleHelper">
        <p>Current (offset): {{ rectangleHelper.mouseX }}, {{ rectangleHelper.mouseY }}</p>
        <p>Last: {{ rectangleHelper.lastMouseX }}, {{ rectangleHelper.lastMouseY }}</p>
        <p>Mouse down: {{ rectangleHelper.mouseDown }}</p>
        <hr>
      </ng-container>

      <ng-container *ngIf="currentRectangle">
        Output dimensions: <br>
        {{ currentRectangle.getDimensions() }}
      </ng-container>
    </div>
  </div>
</div>
