<div class="wrapper">
  <!-- <div>
  </div> -->

  <app-mushaf-page [activeDrawIcon]="activeDrawIcon" (rectangleHelperEvent)="assignRectangleHelper($event)"
    (currentRectangleEvent)="assignCurrentRectangle($event)" (selectedRectangleHelperEvent)="assignSelectedRectangleHelper($event)">
  </app-mushaf-page>

  <div style="font-size: smaller;">
    <div class="draw-icons-container">
      <h4>Draw icon options:</h4>
      <div class="icons">
        <div class="icon-box" *ngFor="let drawIcon of drawIcons" (click)="changeDrawIcon(drawIcon)"
          [ngClass]="{ 'active-icon': drawIcon.active }">
          <img [src]="drawIcon.path" [alt]="drawIcon.name">
        </div>
      </div>
    </div>

    <div>
      <ng-container *ngIf="rectangleHelper">
        <strong>Rectangle helper</strong><br>
        <span>Current: {{ rectangleHelper.mouseX }}, {{ rectangleHelper.mouseY }}</span><br>
        <span>Last: {{ rectangleHelper.lastMouseX }}, {{ rectangleHelper.lastMouseY }}</span><br>
        <span>Mouse down: {{ rectangleHelper.mouseDown }}</span>
        <hr>
      </ng-container>

      <ng-container *ngIf="selectedRectangleHelper">
        <strong>Selected rectangle helper</strong><br>
        <span>Current: {{ selectedRectangleHelper.mouseX }}, {{ selectedRectangleHelper.mouseY }}</span><br>
        <span>Last: {{ selectedRectangleHelper.lastMouseX }}, {{ selectedRectangleHelper.lastMouseY }}</span><br>
        <span>Mouse down: {{ selectedRectangleHelper.mouseDown }}</span>
        <hr>
      </ng-container>

      <ng-container *ngIf="currentRectangle">
        Output dimensions: <br>
        {{ currentRectangle.getDimensions() }}
      </ng-container>
    </div>
  </div>
</div>
