.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(420px, 1fr) 1fr;
  // background-color: #fffbdd;
  background-color: green;

  .container {
    position: relative;
    height: 600px;
    width: 420px;

    .bg-image {
      opacity: 1;
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url(https://easyquran.com/quran-jpg/images/14.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 30px);

  .icon-box {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 2px;
    padding: 1px;
  }

  .active-icon {
    background-color: #363636;
  }
}
